/*  Compass Base Configuration  */

//Reset
@include global-reset;

//Vertical Rhythm

$base-font-size: 16px;
$base-line-height: 6px;
$relative-font-sizing: true;
$min-line-padding: 2px;
@include establish-baseline;

