/*  Styles are preprocessed in Sass. Any modifications to the css file will be overwritten  */
//Base
@import "base";
@import "partials/color/white";

//Partials
@import "partials/global";
@import "partials/asides";
@import "partials/alignment";
@import "partials/clear";
@import "partials/comment";
@import "partials/content";
@import "partials/embed";
@import "partials/infiniteScroll";
@import "partials/media";
@import "partials/menu";
@import "partials/nav";
@import "partials/screenReader";
@import "partials/widget";
@import "partials/media-queries";

//Main Styles
/*  General */
html {
    @include adjust-leading-to(4);
}

body {
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
}

header {
    margin: rhythm(1);
}

footer {
    padding-bottom: rhythm(1);
    
    .site-info {
        @include adjust-font-size-to(12px)
    }
}

hr {
    background-color: $darker;
}

a {
    text-decoration: none;
    &:link,
    &:visited {
        color: $theme_link;
        @include text-shadow($dark .1em 0 .1em); 
    }

    &:hover,
    &:focus,
    &:active {
        color: $theme_link;
        outline: 0;
        @include text-shadow($darker 0 .0625em .0625em); 
    }
} 

#{headings(all)} {
    @include text-shadow($dark .0625em 0 .0625em); 
}

/*  WordPress Classes   */
.site-branding {
    width: 100%;
    .site-title {
        float: left;
    }
    .site-description {
        float: right;
        font-style: italic;
    }
}
.site-title,
.site-description {
    clear: none;
}

.entry-title {
    margin-bottom: 0.2em;
    line-height: 1em;
}

.entry-meta {
    @include adjust-font-size-to(12px);
}

.comment-edit-link,
.comment-reply-link,
.post-edit-link {
    &:link,
    &:visited {
        color: $theme_highlight;
    }
}


/*  Media Queries   */

@include max-screen(600px) {

    
    #primary {
        width: 100%;
    }

    #secondary {
        width: 100%;
    }
}
