
//Color Constants
$theme_link: #c66;
$theme_highlight: #f33;
$theme_base: #300;
$theme_opposite: contrast-color( $theme_base ) ;
$darker: tint($theme_base, 10%);
$dark: tint($theme_base, 40%);
$light: shade( $theme_opposite, 40%);
$lighter: shade( $theme_opposite, 10%);

/*  Global  */
html {
    color: $theme_opposite;
}
/*  Custom Classes  */
.grad {
    @include background-image(linear-gradient(right, $theme_base, $darker 40%, $theme_base 70%, $darker));
}
