@import "compass/css3/box-shadow";
//Color Constants
$base: #ccff99;
$secondary: #669933;
$ternary: #1142aa;
$quaternary: #ffcc00;

/*  Globals */
html {
    background-color: $base;
}
pre {
	background: $quaternary;
}

blockquote {
    border-left: .0625em solid $secondary;
    padding-left: 1em;
}

abbr, acronym {
	border-bottom: .0625em dotted $ternary;
}
mark, ins {
	background: $quaternary;
}
/*  Header  */
/*  Footer  */
/*  Menu    */
.main-navigation {
    .children,
    .sub-menu {

        li:nth-child(even)>a {
            &:link,
            &:visited {
                background-color: rgba($secondary, 0.9);
            }

            &:hover,
            &:focus,
            &:active {
                color: $base;
            }
        }

        li:nth-child(odd)>a {
            &:link,
            &:visited {
                background-color: rgba($base, 0.9);
            }
        }
    }

    .nav-menu>li {
        a {
            &:link,
            &:visited {
                color: $quaternary;
            }
            &:hover,
            &:focus,
            &:active {
                color: $secondary;
            }
        }
    }
}

.main-navigation li.current_page_ancestor>a,
.main-navigation li.current-menu-ancestor>a {
    &:link,
    &:visited {
        border-bottom-color: $quaternary;
    }
}
/*  Content */
.sticky {
    &>.entry-content {
        border-color: $quaternary;
    }
}
/*  Media   */
.wp-caption {
    border-color: $quaternary;
}

/*  Asides  */
/*  Links   */

a {
    &:link,
    &:visited {
        color: $secondary;
    }

    &:hover,
    &:focus,
    &:active {
        color: $quaternary;
    }
}

.comment-edit-link,
.comment-reply-link,
.post-edit-link {
    &:link,
    &:visited {
        color: $quaternary;
    }
}
/*  Comments    */
.thread-even {
    border-color: $quaternary;
    background-color: $quaternary;
    color: $ternary;
}

.depth-2>article,
.depth-4>article,
.depth-6>article,
.depth-8>article,
.depth-10>article {
    border-color: $base;
    background-color: $base;
    color: $ternary;
}

.depth-3>article,
.depth-5>article,
.depth-7>article,
.depth-9>article {
    border-color: $ternary;
    background-color: $ternary;
    color: $quaternary;
}

.bypostauthor>article {
    border-color: $ternary;
    @include single-box-shadow($ternary inset);
}
/*  Extras  */
