@import "compass/css3/box-shadow";
//Color Constants
$base-color: #53df00;
$primary-color: #ffdf00;
$secondary-color: #369100;
$ternary-color: #1142aa;

/*  Globals */
abbr, acronym {
	border-bottom: .0625em dotted $ternary-color;
}
mark, ins {
	background: $secondary-color;
}
/*  Header  */
/*  Footer  */
/*  Asides  */
/*  Links   */

a {
    &:link,
    &:visited {
        color: $primary-color;
    }

    &:hover,
    &:focus,
    &:active {
        color: $secondary-color;
    }
}

.comment-edit-link,
.comment-reply-link,
.post-edit-link {
    &:link,
    &:visited {
        color: $secondary-color;
    }
}
/*  Comments    */
.thread-even {
    border-color: $secondary-color;
    background-color: $secondary-color;
    color: $ternary-color;
}

.depth-2>article,
.depth-4>article,
.depth-6>article,
.depth-8>article,
.depth-10>article {
    border-color: $base-color;
    background-color: $base-color;
    color: $primary-color;
}

.depth-3>article,
.depth-5>article,
.depth-7>article,
.depth-9>article {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $secondary-color;
}

.bypostauthor>article {
    border-color: $ternary-color;
    @include single-box-shadow($ternary-color inset);
}
/*  Extras  */
