
/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
li.comment {
    list-style: none;
}

.thread-even {
    border: .0625em $lighter dashed;
    background-color: $darker;
    color: $lighter;
    margin-bottom: 0.6em;
}

.depth-2>article,
.depth-4>article,
.depth-6>article,
.depth-8>article,
.depth-10>article {
    border: .0625em $theme_base solid;
    background-color: $dark;
    color: $lighter;
    padding: inherit;
}

.depth-3>article,
.depth-5>article,
.depth-7>article,
.depth-9>article {
    border: .0625em $lighter solid;
    background-color: $theme_base;
    color: $lighter;
    padding: inherit;
}

.comment-list>li article,
.comment-respond{
    margin: .6em;
    padding: .6em;
}
.bypostauthor>article {
    border: .0625em $theme_highlight solid;
    @include single-box-shadow($theme_highlight inset);
}
