
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(.0625em, .0625em, .0625em, .0625em);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	border-radius: .1825em;
	clip: auto !important;
	display: block;
	font-size: .9em;
	font-weight: bold;
	height: auto;
	left: .25em;
	line-height: normal;
	padding: 1em 1.5em .9em;
	text-decoration: none;
	top: .25em;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
