/*  Styles are preprocessed in Sass. Any modifications to the css file will be overwritten  */
/* line 17, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* =Global
----------------------------------------------- */
/* Headings */
/* line 6, ../sass/partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin-bottom: 0.6em;
}

/* line 11, ../sass/partials/_global.scss */
h1 {
  font-size: 2.2em;
}

/* line 15, ../sass/partials/_global.scss */
h2 {
  font-size: 2em;
}

/* line 19, ../sass/partials/_global.scss */
h3 {
  font-size: 1.6em;
}

/* line 23, ../sass/partials/_global.scss */
h4 {
  font-size: 1.2em;
}

/* line 27, ../sass/partials/_global.scss */
h5 {
  font-size: 1em;
}

/* line 31, ../sass/partials/_global.scss */
h6 {
  font-size: 0.8em;
}

/* line 35, ../sass/partials/_global.scss */
hr {
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 42, ../sass/partials/_global.scss */
p {
  margin-bottom: 1.5em;
}

/* line 45, ../sass/partials/_global.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 48, ../sass/partials/_global.scss */
ul {
  list-style: square;
}

/* line 51, ../sass/partials/_global.scss */
ol {
  list-style: decimal;
}
/* line 53, ../sass/partials/_global.scss */
ol ol {
  list-style: upper-alpha;
}
/* line 55, ../sass/partials/_global.scss */
ol ol ol {
  list-style: upper-roman;
}

/* line 61, ../sass/partials/_global.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 65, ../sass/partials/_global.scss */
dt {
  font-weight: bold;
}

/* line 68, ../sass/partials/_global.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 71, ../sass/partials/_global.scss */
b, strong {
  font-weight: bold;
}

/* line 74, ../sass/partials/_global.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 77, ../sass/partials/_global.scss */
blockquote {
  margin: 0 1.5em;
  font-style: italic;
  font-family: serif;
}
/* line 85, ../sass/partials/_global.scss */
blockquote p cite {
  font-weight: bold;
}

/* line 90, ../sass/partials/_global.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 94, ../sass/partials/_global.scss */
pre {
  background: #e3e3d4;
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.6em;
  max-width: 100%;
  word-wrap: break-word;
  overflow: auto;
  padding: 1.6em;
}

/* line 104, ../sass/partials/_global.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 107, ../sass/partials/_global.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 111, ../sass/partials/_global.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 116, ../sass/partials/_global.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 123, ../sass/partials/_global.scss */
sup {
  bottom: 1ex;
}

/* line 126, ../sass/partials/_global.scss */
sub {
  top: .5ex;
}

/* line 129, ../sass/partials/_global.scss */
small {
  font-size: 75%;
}

/* line 132, ../sass/partials/_global.scss */
big {
  font-size: 125%;
}

/* line 135, ../sass/partials/_global.scss */
figure {
  margin: 0;
}

/* line 138, ../sass/partials/_global.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
  border-bottom: 1px #c7c7aa solid;
}

/* line 143, ../sass/partials/_global.scss */
th {
  font-weight: bold;
}

/* line 147, ../sass/partials/_global.scss */
td {
  border-top: 1px #c7c7aa solid;
}

/* line 151, ../sass/partials/_global.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 158, ../sass/partials/_global.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

/* line 165, ../sass/partials/_global.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

/* line 171, ../sass/partials/_global.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 189, ../sass/partials/_global.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 200, ../sass/partials/_global.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 205, ../sass/partials/_global.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 209, ../sass/partials/_global.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 215, ../sass/partials/_global.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 219, ../sass/partials/_global.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 228, ../sass/partials/_global.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 238, ../sass/partials/_global.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 245, ../sass/partials/_global.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 248, ../sass/partials/_global.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* Alignment */
/* line 3, ../sass/partials/_alignment.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 8, ../sass/partials/_alignment.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 13, ../sass/partials/_alignment.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* =Asides
----------------------------------------------- */
/* line 6, ../sass/partials/_asides.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Clearing */
/* line 14, ../sass/partials/_clear.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table;
}

/* line 24, ../sass/partials/_clear.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/* =Comments
----------------------------------------------- */
/* line 5, ../sass/partials/_comment.scss */
.comment-content a {
  word-wrap: break-word;
}

/* =Content
----------------------------------------------- */
/* line 7, ../sass/partials/_content.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 11, ../sass/partials/_content.scss */
.byline,
.updated {
  display: none;
}

/* line 15, ../sass/partials/_content.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 20, ../sass/partials/_content.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 23, ../sass/partials/_content.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Make sure embeds and iframes fit their containers */
/* line 5, ../sass/partials/_embed.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 7, ../sass/partials/_infiniteScroll.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 12, ../sass/partials/_infiniteScroll.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/* =Media
----------------------------------------------- */
/* line 7, ../sass/partials/_media.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* line 13, ../sass/partials/_media.scss */
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 18, ../sass/partials/_media.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

/* line 23, ../sass/partials/_media.scss */
.wp-caption-text {
  text-align: center;
}

/* line 26, ../sass/partials/_media.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 29, ../sass/partials/_media.scss */
.site-main .gallery {
  margin-bottom: 1.5em;
}

/* line 34, ../sass/partials/_media.scss */
.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}

/* line 39, ../sass/partials/_media.scss */
.site-main .gallery dd {
  margin: 0;
}

/* =Menu
----------------------------------------------- */
/* line 5, ../sass/partials/_menu.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 11, ../sass/partials/_menu.scss */
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 16, ../sass/partials/_menu.scss */
.main-navigation li {
  float: left;
  position: relative;
}

/* line 20, ../sass/partials/_menu.scss */
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* line 24, ../sass/partials/_menu.scss */
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
}

/* line 33, ../sass/partials/_menu.scss */
.main-navigation ul ul ul {
  left: 100%;
  top: 0;
}

/* line 37, ../sass/partials/_menu.scss */
.main-navigation ul ul a {
  width: 200px;
}

/* line 48, ../sass/partials/_menu.scss */
.main-navigation ul li:hover > ul {
  display: block;
}

/* Small menu */
/* line 56, ../sass/partials/_menu.scss */
.menu-toggle {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 63, ../sass/partials/_menu.scss */
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  /* line 67, ../sass/partials/_menu.scss */
  .main-navigation ul {
    display: none;
  }
}
/* =Navigation
----------------------------------------------- */
/* line 5, ../sass/partials/_nav.scss */
.site-main [class*="navigation"] {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 9, ../sass/partials/_nav.scss */
[class*="navigation"] .nav-previous {
  float: left;
  width: 50%;
}

/* line 13, ../sass/partials/_nav.scss */
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* Text meant only for screen readers */
/* line 3, ../sass/partials/_screenReader.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 10, ../sass/partials/_screenReader.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* =Widgets
----------------------------------------------- */
/* line 5, ../sass/partials/_widget.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
/* line 10, ../sass/partials/_widget.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 15, ../sass/partials/_widget.scss */
.widget_search .search-submit {
  display: none;
}

/* line 32, ../sass/style.scss */
body {
  font-family: sans-serif;
  width: 80%;
  height: 1000px;
  margin: 0 auto;
  color: #303022;
}

/* line 40, ../sass/style.scss */
header {
  margin: 1em;
}

/* line 44, ../sass/style.scss */
.grad {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #a2a272), color-stop(40%, #c7c7aa), color-stop(70%, #e3e3d4), color-stop(100%, #c7c7aa));
  background-image: -webkit-linear-gradient(right, #a2a272, #c7c7aa 40%, #e3e3d4 70%, #c7c7aa);
  background-image: -moz-linear-gradient(right, #a2a272, #c7c7aa 40%, #e3e3d4 70%, #c7c7aa);
  background-image: -o-linear-gradient(right, #a2a272, #c7c7aa 40%, #e3e3d4 70%, #c7c7aa);
  background-image: linear-gradient(right, #a2a272, #c7c7aa 40%, #e3e3d4 70%, #c7c7aa);
}

/* line 48, ../sass/style.scss */
hr {
  background-color: #303022;
}

/* line 52, ../sass/style.scss */
a {
  text-decoration: none;
}
/* line 56, ../sass/style.scss */
a:link, a:visited {
  color: #00cc00;
}
/* line 62, ../sass/style.scss */
a:hover, a:focus, a:active {
  color: #00cc00;
  outline: 0;
  text-shadow: #303022 0px 1px 1px;
}

/* line 72, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  text-shadow: #303022 1px 0px 1px;
}

/* line 78, ../sass/style.scss */
footer {
  padding-bottom: 10px;
  font-size: 0.8em;
}

/* line 83, ../sass/style.scss */
.site-branding {
  width: 100%;
}
/* line 86, ../sass/style.scss */
.site-branding .site-title {
  float: left;
}
/* line 93, ../sass/style.scss */
.site-branding .site-description {
  float: right;
  font-style: italic;
}

/* line 100, ../sass/style.scss */
.site-title,
.site-description,
#site-navigation {
  clear: none;
}

/* line 104, ../sass/style.scss */
#site-navigation {
  float: left;
}

/* line 108, ../sass/style.scss */
#site-navigation .nav-menu > li {
  margin-left: 40px;
}
/* line 111, ../sass/style.scss */
#site-navigation .nav-menu > li a {
  padding: 5px;
  border-radius: 10%;
  border: 2px transparent solid;
}
/* line 117, ../sass/style.scss */
#site-navigation .nav-menu > li a:link, #site-navigation .nav-menu > li a:visited {
  color: #e34234;
}
/* line 123, ../sass/style.scss */
#site-navigation .nav-menu > li a:hover, #site-navigation .nav-menu > li a:focus, #site-navigation .nav-menu > li a:active {
  background-color: #e34234;
  color: #00cc00;
  outline: 0;
}

/* line 131, ../sass/style.scss */
#primary {
  float: left;
  width: 73%;
}

/* line 136, ../sass/style.scss */
#secondary {
  float: right;
  width: 25%;
}

/* line 141, ../sass/style.scss */
.entry-title {
  margin-bottom: 0.2em;
  line-height: 1em;
}

/* line 146, ../sass/style.scss */
.entry-meta {
  font-size: 0.8em;
}

/* line 150, ../sass/style.scss */
.sub-menu {
  background-color: #a2a272;
}

/* line 154, ../sass/style.scss */
article.sticky > .entry-content {
  border: 1px #e34234 dashed;
  padding: 5px;
}

/* line 161, ../sass/style.scss */
a.post-edit-link:link, a.post-edit-link:visited {
  color: #e34234;
}
